* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height:100%;
}

/* Add styles here! */
header{
  min-height:50%;
  border-bottom:8px solid hsl(0deg, 0%, 40%);
  
}
main{
  min-height:50%;
  background-color:hsl(0deg, 0%, 60%);
  
}
.max-width-wrapper{
  max-width:672px;
  margin:0 auto;
}
.intro-chunk{

}
strong{
  color:hsl(160deg, 100%, 30%);
}
.title{
  
}
.card{
  background:hsl(0deg, 0%, 100%);
  border-bottom:8px solid hsl(0deg, 0%, 40%);  
}
.indented-heading{
  margin:0;
  background:hsl(45deg, 100%, 50%);
  width:max-content;
  border-bottom:8px solid hsl(45deg, 100%, 40%);
}