* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height:100%;
}

/* Add styles here! */
header{
  /* min-height:50%; */
}
.title{
 margin-bottom:64px; 
}
header p{
  font-size:1.5rem;
  line-height:1.5;
  /* width:fit-content; */
  max-width:400px;
}
main{
  /* min-height:50%; */
  background-color:hsl(0deg, 0%, 60%);
  border-top:8px solid hsl(0deg, 0%, 40%);
  padding-bottom:96px;
}
main p{
  font-size:1.25rem;
  line-height:1.5;
  
}
.max-width-wrapper{
  
  max-width:720px;
  margin:0 auto;
  padding:24px;
}
.intro-chunk{
  margin:128px 0 64px;
}
strong{
  color:hsl(160deg, 100%, 30%);
}

.card{
  padding:24px;
  margin:96px -24px;
  
  background:hsl(0deg, 0%, 100%);
  border-bottom:8px solid hsl(0deg, 0%, 40%);  
}
.indented-heading{
  font-size:1.5rem;
  margin:0;
  padding:24px;
  background:hsl(45deg, 100%, 50%);
  display:inline-block;
  width:fit-content;
  border-bottom:8px solid hsl(45deg, 100%, 40%);
}
@media(min-width:767px){
  .indented-heading{
    width:max-content;
    padding:24px;
    margin:-16px 0 0 -24px;
  }
  .max-width-wrapper{
    padding:0;
  }
}
@media(min-width:992px){
  .indented-heading{
    width:max-content;
    padding-left:40px;
    padding-right:40px;
    margin-left:-40px;
  }
}